@use "sass:map";

$colors: (
	gray: #898989,
	hover: #990000
);

@font-face { font-family: AjarSans;  src: url("font/Ajar Sans/AjarSans-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

html { height: 100%; font-family: AjarSans, sans-serif; }
body {
	margin: 0; height: 100%; background-image: url("img/1639189468-1001-www.lookw.ru.jpg");
	&.blur {
		&:before { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-image: url("img/1639189468-1001-www.lookw.ru.jpg"); filter: blur(4px);  }
		> .layout { filter: blur(4px); }
	}
}
a {
	cursor: pointer;
	&:hover { color: map-get($colors, hover); }
}

.layout {
	display: flex; flex-direction: column; min-height: 100%;
	> .block {
		&.menu { flex: none; }
		&.content { flex: auto; }
		&.footer { flex: none; }
	}
}

.view.site.menu {
	display: flex; padding: 60px;
	> .list {
		flex: auto; display: flex; font-size: 25px;
		> a {
			padding: 10px 20px;
			&:not(:last-child) { margin-right: 20px; }
		}
	}
	> .more {
		flex: none; display: flex; align-items: center; overflow: hidden;
		> div {
			position: relative; width: 40px; height: 40px; cursor: pointer; background-color: #e1e1e1;
			> div {
				position: absolute; left: 0; width: 40px; height: 4px; background-color: map-get($colors, gray);
				&:nth-child(1) { top: 6px; /*transform: rotate(45deg); top: 18px;*/ }
				&:nth-child(2) { top: 18px; }
				&:nth-child(3) { top: 30px; }
			}
			&:hover > div { background-color: map-get($colors, hover); }
		}
	}
}

.view.site.full_menu {
	position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: #FFFFFF80;
	&:before { content: ""; position: absolute; top: 10px; right: 10px; bottom: 10px; left: 10px; background-image: url("img/fill.png"); background-color: #00000033; opacity: 0.5; }
	> .close { position: absolute; top: 60px; right: 60px; width: 40px; height: 40px; background-color: #7e7e7e; }
	> .menu {
		color: #fff;
		&.m1 { position: absolute;
			width: 300px;
			left: 50%;
			margin-left: -150px;
			height: 300px;
			top: 50px;
			border-radius: 50%;
			background-color: map-get($colors, hover);
			> div:first-child { text-transform: uppercase;
				text-align: center;
				padding-top: 70px;
				font-weight: 600;
				font-size: 20px; }
		}
	}
}
/*

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255 255 255 / 50%);
    z-index: 100;
    overflow: hidden;

        position: absolute;
    width: 100%;
    height: 200%;
    background: linear-gradient(90deg,transparent,rgba(255, 255, 255, .4),transparent);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0));
    transition: 0.4s;
    transform: rotate(-45deg);
    transform-origin: center;
    animation: glass;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    // display: none;
	top: -50%;
*/