$color-text: #000000;
$color-text-primary: #ffffff;

$color-primary: #3e4246;
$color-primary-light: #76797c;
$color-primary-super-light: #c3c3c3;
$color-primary-dark: #23282c;

$color-secondary: #006e95;
$color-secondary-light: #007fad;
$color-secondary-dark: #00506c;

$color-tertiary-light: #68909f;





//$color-text: #fff;
//$color-text-primary: #aaa;
//
//$color-primary: #fff;
//$color-primary-light: #fff;
//$color-primary-super-light: #fff;
//$color-primary-dark: #fff;
//
//$color-secondary: #f5f5f5;
//$color-secondary-light: #f1f1f1;
//$color-secondary-dark: #f1f1f1;
//
//$color-tertiary-light: #f1f1f1;