@use "sass:map";

@use "variables" as *;
@use "functions" as *;

* { box-sizing: border-box; }

@mixin MixTemplate($params: null) {
	$default: (
		bg_img					: url("img/wall.jpg"),
		header_display			: revert,
		footer_display			: revert,
		document_width			: 1200px,
		document_min_width		: auto,
		document_bg_color		: $color-neutral-extra-light,
		document_box_shadow		: 0 0 0.2rem $color-neutral
	);

	html {
		height: 100%; font-family: PetersburgC, sans-serif; font-size: 14px; flex: auto; background-image: GetValue($default, $params, 'bg_img');
		body {
			display: flex; flex-direction: column; margin: 0; height: 100%; font-size: 1.2rem;
			> header { display: GetValue($default, $params, 'header_display'); }
			> main {
				flex: auto;
				> div {
					margin: 0 auto; padding: 1rem; width: GetValue($default, $params, 'document_width'); min-height: 100%; background-color: GetValue($default, $params, 'document_bg_color'); box-shadow: GetValue($default, $params, 'document_box_shadow'); font-family: Monitorica, sans-serif;
					input { font-family: Monitorica, sans-serif; font-size: 1.2rem; }
				}
			}
			> footer { display: GetValue($default, $params, 'footer_display'); padding-top: 4rem; }
		}
	}
}

@include MixScreen() { @include MixTemplate(); }
@include MixPrint() { @include MixTemplate((bg_img: none, header_display: none, footer_display: none, document_width: 100%, document_bg_color: transparent, document_box_shadow: none)); }