@use "variables" as *;
@use "functions" as *;

.view.catalogs.work {
	> .control {
		display: flex;
		> .btns {
			flex: auto; display: flex;
			> * {
				&.print { background-image: url("img/ui/print.svg"); }
				&.add_table { background-image: url("img/ui/add table.svg"); }
				&:not(:last-child) { margin-right: 0.5rem; }
			}
		}
		> .info > span {
			display: flex; align-items: center; height: 100%; color: $color-neutral;
			&:before { display: inline-block; width: 2rem; height: 100%; background-size: 15px; background-position: center; background-repeat: no-repeat; }
			&.edit:before { content: ""; background-image: url("img/ui/edit.svg"); }
			&.save:before { content: ""; background-image: url("img/ui/save.svg"); }
		}
	}
	> .container {
		> .wrap {
			> .header {
				display: flex; align-items: center;
				> .caption { flex: auto; font-size: 5rem; font-weight: bold; }
				> .contacts {
					width: 30%;
					> div {
						text-align: right;
						> input { width: 100%; text-align: right; }
						&:first-child {
							font-weight: bold;
							> input { font-weight: bold; }
						}
						&:not(:last-child) { margin-bottom: 0.4rem }
					}
				}
			}
			> .lists > .list {
				margin-top: 2rem;
				> .control {
					text-align: right;
					> span {
						@include MixBtn; display: inline-block; padding: 0; width: 2rem; height: 2rem; background-size: 1rem; background-repeat: no-repeat; background-position: center;
						&:not(:last-child) { margin-right: 0.4rem; }
						&.visible {
							background-image: url("img/ui/hide.svg");
							&.show { background-image: url("img/ui/show.svg"); }
						}
						&.delete { background-image: url("img/ui/white/delete.svg"); }
					}
				}
				> .wrap {
					> .title {
						font-size: 2rem; text-align: center;
						> input { width: 100%; font-size: 2rem; text-align: center; }
					}
					> table {
						margin-top: 1rem; width: 100%; border-collapse: collapse;
						tr {
							border-bottom: 1px solid $color-neutral-light;
							> th { padding: 0.2rem 1rem; background-color: $color-secondary; }
							> td { padding: 0.2rem 1rem; }
							&.total > td {
								&:nth-child(3), &:nth-child(4)  { padding: 1rem; font-size: 1.8rem; background-color: $color-secondary; }
							}
						}
						input { padding: 0; width: 100%; }
						.item {
							@include MixBtn; padding: 0; width: 3rem; height: 2rem; line-height: 2rem; vertical-align: middle; background-size: 0.8rem; background-position: center; background-repeat: no-repeat;
							&.glob_hide { display: none; }
							&.add { background-image: url("img/ui/add.svg"); }
							&.del { background-image: url("img/ui/remove.svg"); }
							&.collapse { background-size: 1rem; background-image: url("img/ui/toggle.svg"); }
						}
					}
				}
			}
			> .footer {
				display: flex; padding-top: 2rem;
				> div {
					&:first-child { padding-top: 10rem; width: 50%; font-size: 1rem; text-align: center; }
					&:last-child {
						flex: auto;
						> div {
							display: flex; margin-bottom: 1rem; text-align: right; font-weight: bold;
							> div { width: 50%; }
							&.date > div:last-child { text-align: center; }
							&.autograph > div:last-child {
								position: relative;
								> div { position: absolute; left: 4rem; right: 4rem; bottom: 0; border-bottom: 1px solid $color-neutral-light; }
							}
						}
					}
				}
			}
		}
		input {
			&[type="text"], &[type="date"] { border: none; outline: none; background-color: transparent; }
		}
		.number {
			text-align: center;
			> input[type="text"] { text-align: center; }
		}
	}

	@media print {
		> .container > .wrap > .lists > .list > .wrap > table tr.total > td {
			&:nth-child(3), &:nth-child(4) { font-weight: bold; }
		}
		input { display: none; }
	}

}