@use "../variables" as *;
@use "../functions" as *;

.view.changes.last_items {

	@mixin ViewNewsLastItems($params: null) {
		margin-top: 4rem;
		> .all { margin-top: 1rem; text-align: left; }
	}

	@include MixScreen() { @include ViewNewsLastItems(); }
}

.view.changes.last_item {

	@mixin ViewNewsLastItem($params: null) {
		&:not(:last-child) { margin-bottom: 4px; }
	}

	@include MixScreen() { @include ViewNewsLastItem(); }
}
//
//.view.news.show {
//
//	@mixin ViewNewsShow($params: null) {
//		> .cover {
//			position: relative; background-position: center; background-size: cover;
//			> div {
//				&:first-child { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: linear-gradient(transparent, #eaeaea 80%); }
//				h1 { padding-top: 10rem; position: relative; /*padding-bottom: 2rem; margin: 0;*/ }
//			}
//		}
//		> .content { text-align: justify; }
//		> .data { margin-top: 1rem; text-align: right; font-size: 1rem; color: $color_running_title; }
//	}
//
//	@include MixScreen() { @include ViewNewsShow(); }
//}